@import url("/assets/css/styles.css");
@import url("/assets/css/navbarstyles.css");

body {
  display: grid;
  grid-template-areas:
    "hd hd hd hd"
    "sd main main main"
    "sd main main main"
    "sd main main main"
    "sd main main main"
    "sd main main main"
    "ft ft ft ft";
  grid-auto-columns: 2fr;
  grid-auto-rows: 3fr;
}

.aboutcard {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 900px;
  width: 600px;
  margin: 0;
  padding: 0;
  border: 2px dotted goldenrod;
  background-color: darkred;
}

#about img {
  width: fit-content;
  max-height: 50%;
  max-width: 75%;

  padding: none;
  margin: 1em;
  border: dotted goldenrod 2px;
}

#about p {
  color: goldenrod;
  background-color: darkblue;
  border: 2px dotted gold;
}
