@import url("/assets/css/navbarstyles.css");
@import url("/assets/css/aboutstyles.css");

body{display:grid;
grid-template-areas: 
"hd hd hd hd"
"hd hd hd hd"
"hd hd hd hd"
"sd main main main"
"sd main main main"
"sd main main main"
"sd main main main"
"ft ft ft ft";
grid-auto-columns:2fr;
grid-auto-rows: 3fr;
grid-gap:none;
padding: none;
grid-gap:none;
background-image: url("/assets/images/wallpapersden.com_my-hero-academia-all-might_2560x1440.jpg");
}

header{grid-area: hd;
    position: fixed;
    font-size: 56px;
    color:gold;
text-align: center;
font-weight: bolder;
}


.tweepcontainer{
    grid-area: sd;
    display: flex;
    background-color: white;
    border: 3px solid goldenrod;
    margin: 2em;
    padding: 1em;



}

.tweepcontainer img{
    
    object-fit: contain;
    display:flex;
    border: dotted gold .01em;
    padding:none;
    margin: none;
    height:50px;
    autowidth:50px;

    justify-self: flex-end;


}


html {cursor: url("/assets/images/cursor.cur"), default;
    

}

html:hover{ 
    cursor: url("/assets/images/cursor (1).cur"), default;


}

/*.navbar{
    background-color: dark red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}*/




#announcementbox{
grid-area: main;
margin: 1em;
padding: 1em;

}
link:hover{
    cursor: url("/assets/images/cursor (1).cur"), default;

}

.Announce{ 
    display:flex;
    background-color: whitesmoke;
    border: 2px solid goldenrod;



}
h3{align-self: center;
    color: solid gold;

}






/*large phone screens styles*/


@media screen {  min-width: 600px;
    body{
display:grid;
grid-template-areas: "hd hd"
"hd hd"
"sd sd"
"main main"
"ft ft";

grid-auto-columns: 2fr;
grid-auto-rows: 3fr;
background-color: blue;

    };
    
}

@media screen { 

    max-width: 600px;

    body{
        display:grid;
        grid-template-areas: "hd hd"
        "hd hd"
        "sd sd"
        "main main"
        "ft ft";
        
        grid-auto-columns: 2fr;
        grid-auto-rows: 3fr;
        background-color: blue;
        
            };
}