

@import url("/assets/css/styles.css");
@import url("/assets/css/navbarstyles.css");
@import url("/assets/css/aboutstyles.css");


body{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd"
    "sd main main main"
    "sd main main main"
    "sd main main main"
    "sd main main main"
    "ft ft ft ft";
    grid-auto-columns:2fr;
    grid-auto-rows: 3fr;
background-image: url("/assets/images/w77579qot1n11.jpg");

}

.myForm{grid-area: main;
    justify-self: self-start;
    border: dotted gold 2px;
    display:flex;
    flex-direction: row;



}

button{ border: solid gold .5em;
color:gold;
background-color: black;}
